* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}
img {
    width: 100%;
    object-fit: cover;
}
.nav-content {
    display: flex;
    align-items: center;
    #right {
        margin-left: 60vw;  
    }
}
#right a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
}
.nav {
    background: linear-gradient(90deg, #bc95ff, 75%, black);
}
.nav-content img {
    height: 150px;
    margin-left: 20px;
}
#menu-lay h1 {
    color: white;
    margin-bottom: 50px;
}
#menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#f-card {
    text-align: center;
    width: 600px;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    img {
        width: 400px;
        border: 5px outset red;
    }
    h3 {
        padding: 10px;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px 24px;
        background: linear-gradient(90deg, #bc95ff, #38003c);
        color: white;
        border-radius: 20px;
    }
}
.card-left {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px;
    height: 300px;
    max-width: 1000px;
    img {
        width: 50vw;
        border-radius: 30px 0px 0px 30px;
        height: 300px;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px 24px;
        background: linear-gradient(90deg, #bc95ff, #38003c);
        color: white;
        border-radius: 20px;
    }
    p {
        margin: 20px;
    }
}
.card-right {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin: 20px;
    height: 300px;
    max-width: 1000px;
    img {
        width: 50vw;
        border-radius: 0px 30px 30px 0px;
        height: 300px;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px 24px;
        background: linear-gradient(90deg, #bc95ff, #38003c);
        color: white;
        border-radius: 20px;
    }
    p {
        margin: 20px;
    }
}

#hero {
    background-image: url("../images/Resturant_hero.jpg");
    background-size: cover;
    height: 60vh;
    width: 90%;
    margin: 0px auto;
}
#hero-content {
    padding-top: 50px;
    padding-left: 40px;
    color: white;
    a {
        text-decoration: none;
        color: white;
        padding: 10px 30px;
        border-radius: 15px;
        background: linear-gradient(90deg, rgb(99, 3, 3), red 90%, red);
    }
}
#home-lay {
    h1 {
        margin: 100px 0px;
        text-align: center;
        color: white;
    }
}
.home-card {
    background: linear-gradient(0deg, #00000000, white 70%, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 24px;
    border-radius: 30px;
    img {
        width: 300px;
        height: 200px;
    }
    h2 {
        padding: 20px 0px;
    }
    a {
        margin: 30px;
        background: linear-gradient(90deg, red, darkred);
        text-decoration: none;
        padding: 10px 24px;
        border-radius: 15px;
        color: rgb(255, 255, 255);
    }
}
a:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px black;
    transition: box-shadow 0.5s, transform 0.5s;
}
#home-content {
    display: flex;
    justify-content: center;
}
.footer {
    background: linear-gradient(90deg, red, darkred);
    padding: 50px;
}
.f-content {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: white;
        margin-top: 10px;
    }
}
@media screen and (max-width: 750px) and (min-width: 500px) {
    #home-content {
        flex-direction: column;
        align-items: center;
    }
    .nav-content #right {
        margin-left: 20vw;
    }
    .f-content { 
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 499px) {
    #home-content {
        flex-direction: column;
        align-items: center;
    }
    .nav-content #right {
        
        margin-left: 20vw;
    }
    .f-content { 
        flex-direction: column;
        align-items: center;
    }
    .nav-content {
        flex-direction: column;
        align-items: center;
    }
    .card-left p {
        font-size: 10px;
    }
    .card-right p {
        font-size: 10px;
    }
    .card-left h2 {
        font-size: 20px;
    }
    .card-right h2 {
        font-size: 20px;
    }
    .card-left h3 {
        font-size: 15px;
    }
    .card-left h3 {
        font-size: 15px;
    }
    .card-left a {
        font-size: 10px;
    }
    .card-right a {
        font-size: 10px;
    }
}